# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Output directory
Output/

# Log files
Log/

# Python package files
*.egg
*.egg-info/
dist/
build/
eggs/
*.whl

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Excel files
*.xlsx